*{
    margin: 0px;
    padding: 0px;
font-family: "Quicksand", sans-serif;
font-optical-sizing: auto;
font-style: normal;
}
    
      

.header {

    min-height:100vh;
    width: 100%;
    background-image: url(images/hd-aspect-1500389231-ice-lollies.jpeg);
    background-position: center;
    background-size:cover;
    position:relative;

}
nav {

    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}
.navigation-link {
    flex:1;
    text-align: right;

}
.navigation-link ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 32px;
    position: relative;
    
    

}
.navigation-link ul li a {
    color:#2d032d;
    text-decoration: none;
    font-size: 27px;
    margin:20px;
}
    
 .navigation-link ul li a:hover {
color:white;

}
.text-box { 
    width: 90%;
    color: #2d032d;
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform:translate(-50%, -50%)
}
.text-box h1 { 
    font-size: 70px;
}
.text-box p { 
 margin: 10px 0px 40px;
 font-size: 20px;
 font-weight: bold;
 color:white;
}

.dugme { 
    display: inline-block
    text-decoration: none;
    color:white;
    border: 1px solid #2d032d;
    padding: 15px 40px;
    font-size: 15px;
    background-color:#2d032d;
    position: relative;

}
.dugme:hover{ 
    border:1px solid white;
    background:pink;
    transition: 1s;

}
nav .fa {
    display: none;

 }
@media(max-width:700px) { 
    .text-box h1 { 
        font-size: 25px;
    } 
    .navigation-link ul li {
        display:block;
    }
    .navigation-link {
        position: absolute;
        background:white;
        height: 100vh;
        width:200px;
        top: 0;
        right:-200px;
        text-align:left;

    }
    nav .fa { 
        display:block;
        color:black;
        margin:10px;
        font-size:22px;

    }

}
.offer { 

    width: 100%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
    background-color:pink;
    background-position: center;
    background-size:cover;
    position:relative;


}
h1 { 

    font-size: 40px;
    font-weight: 600;
}
p { 
    
    color:#2d032d;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;

 }
 .red { 

    margin-top: 5%;
    display:flex;
    justify-content: space-between;


 }
 .stupac { 

    flex: basis 31%;
    background:beige;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    margin:20px;
    transition: 0.5s;

 }
 h3 { 

    text-align:center;
    font-weight: 600;
    margin:10px 0;

  }

  .stupac:hover{ 
color:pink;

  }

  @media(max-width:700px) { 

    .red { 
        flex-direction: column;
    }
  }
  .lokacija { 

    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    background-color: pink;
    background-position: center;
    background-size:cover;
    position:relative;

    

  }

  .stupac_lokacija { 

   flex-basis: 32%;
   margin-bottom:30px;
   position:relative;
   overflow:hidden;

  }

  .stupac_lokacija img { 

    width:80%;
    transition: transform 0.3s ease; 

   }

   .stupac_lokacija img:hover{ 

   
    transform: scale(1.1)

   }

   .kontakt { 

margin: auto;
width:100%;
 background-color: pink;
 background-position: center;
    background-size:cover;
    position:relative;
    text-align: center;
    

   }

   .footer {

width:100%
text-align:center;
padding: 30px 0;
background-color:pink;
text-align:center;


   }

   .footer h4 {  

margin-bottom: 25px;
margin-top: 20px;
font-weight: 600;
font-size:large;

   }
   .subheader {  

height:50vh;
width:100%;
background-image: url(images/Scoops-kinds-ice-cream.webp);
background-position: center;
background-size: cover;
text-align:center;
color: white;
font-size:70px;

   }

   .about-us {  

    width:80%;
    margin:auto;
    padding-top:80px;
    padding-bottom: 50px;

}
  

.stupac-au {  

    flex-basis:48%;
    padding:30px 2px;


}

.stupac-au img {  

    width:100%;

}

.subsubheader {  

    height:50vh;
    width:100%;
    background-image: url(images/ice-cream-main.jpeg);
    background-position: center;
    background-size: cover;
    text-align:center;
    color: white;
    font-size:70px;
    
       }

       .mapa { 

        width:80%;
        margin: auto;
        padding:80px 0;



       }

       .mapa iframe { 

        width:100%;

    }

    .podaci {

        width:80%;
        margin:auto;

     }

     .stupac-kontakt  { 

        flex-basis:48%;
         margin-bottom:30px;

     }

     .stupac-kontakt div { 

        display: flex;
        align-items: center;
        margin-bottom: 40px;

     }
.stupac-kontakt input, .stupac-kontakt textarea { 

    width:100%;
    padding:20px;
    margin-bottom: 20px;
    outline:none;
    border:1px solid #2d032d;
}

